<h2><%= current_user.email %> screamed:</h2>
<h2>"<%= @question.content %>"</h2>
<h4>Wanna scream back???
<%= link_to "answer in the form of a question!!!", new_question_answer_path(@question)%></h4>

<% if @question.answers.any? %>
  <!-- <h4>Here are the answers for this question</h4> -->

    <% @question.answers.each do |answer| %>
      <div class="response-scream">
        <%= answer.content %>
      </div>
    <% end %>

<% else %>
  <p>There are no answers yet</p>
<% end %>
