<h2>Welcome to <strong>Screaming into the Void-Overflow</strong></h2>

<% if !current_user %>
  <h4>An anti-community of developers not helping other developers. Sign in or up to submit your first scream</h4>
<% else %>
  <h4><%= link_to "Scream away...", new_question_path %><h4>
<% end %>


<% @questions.each do |q| %>
  <div class="scream"><%= link_to q.content, question_path(q) %></div>
<% end %>
